### 제공한 데이터 파일(titanic.csv)을 이용하여 아래 통계치들을 계산하시오.

#### 데이터 파일을 불러온다.

In [ ]:
import pandas as pd

#### 남성 탑승자의 평균 나이는?

#### 여성 탑승자의 평균 나이는?

#### 남성 생존자의 평균 나이는?

#### 여성 생존자의 평균 나이는?

#### 남성 생존자 중 최고령 생존자의 나이는?

#### 여성 생존자 중 가장 어린 생존자의 나이는?

#### 1등석 승객이면서 생존자의 평균 나이는?

#### 3등석 승객이면서 승선지가 퀸스타운(Q)이거나 사우샘프턴(S)인 승객 중 생존자는 총 몇명인가?